﻿@using Datwendo.MediaServices.Models
@using Orchard.ContentManagement
@using Orchard.Utility.Extensions

@{
    Style.Include("//amp.azure.net/libs/amp/1.5.0/skins/amp-default/azuremediaplayer.min.css");
    Script.Require("jQuery").AtFoot();
    Script.Include("//amp.azure.net/libs/amp/1.5.0/azuremediaplayer.min.js").AtFoot();
    Script.Require("PlayCloudVideoLink").AtFoot();
    CloudVideoLinkPart cv = Model.ContentPart;
    var Poster = cv.Poster ?? string.Empty;
    var Id = cv.Title.HtmlClassify();
}
<video id="@Id" class="azuremediaplayer amp-default-skin">
    <source src=@cv.MediaUrl type="application/vnd.ms-sstr+xml" />
    <p class="amp-no-js">
        @T("Your browser does not support HTML5")
    </p>
</video>

@using (Script.Foot())
{
    <script type="text/javascript">
    //<![CDATA[
        $(function() {
            InitVideoPlayer("@Id","@Html.Raw(cv.MediaUrl)","@cv.NativeControlsForTouch" == "True"
                                            , "@cv.Autoplay" == "True"
                                            , "@cv.Controls" == "True"
                                            ,"@cv.Width","@cv.Height","@Poster");
        });
    //]]>
    </script>
}

