﻿@model Datwendo.MediaServices.Models.CloudVideoLinkPart

<div class="CloudVideoLink">
    <fieldset>
        @Html.LabelFor(m => m.MediaUrl, T("MediaUrl"))
        @Html.TextBoxFor(m => m.MediaUrl, new { @class = "text large" })
        <span class="hint">@T("Enter the Url from Azure Media Published Url")</span>
    </fieldset>

    <fieldset>
        @Html.LabelFor(m => m.NativeControlsForTouch, T("NativeControlsForTouch"))
        @Html.CheckBoxFor(m => m.NativeControlsForTouch)
        <span class="hint">@T("Check to include controles")</span>
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.Autoplay, T("Autoplay"))
        @Html.CheckBoxFor(m => m.Autoplay)
        <span class="hint">@T("Check to Autoplay")</span>
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.Controls, T("Controls"))
        @Html.CheckBoxFor(m => m.Controls)
        <span class="hint">@T("Check to insert Controls")</span>
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.Width, T("Width"))
        @Html.TextBoxFor(m => m.Width, new { @class = "text small" })
        <span class="hint">@T("Enter the width in pixels")</span>
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.Height, T("Height"))
        @Html.TextBoxFor(m => m.Height, new { @class = "text small" })
        <span class="hint">@T("Enter the height in pixels")</span>
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.Poster, T("Image Poster"))
        @Html.TextBoxFor(m => m.Poster, new { @class = "text large" })
        <span class="hint">@T("Enter the Url for a poster image displayed when stopped")</span>
    </fieldset>
</div>
